/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./vars.css');

:root {
    font-family: 'JetBrains Mono';
    font-weight: 500;
}

::selection {
    background: var(--light-blue);
    color: var(--dark);
}

body {
    background-color: var(--dark);
    color: var(--white);
    margin: 0;

    h2,
    h3 {
        color: var(--subtext2);
    }

    a {
        color: var(--purple);

        &:hover {
            filter: brightness(125%);
        }
    }
}

main {
    background-color: var(--bg-night);
    padding: 4px 8px;
}

footer {
    color: var(--extra-subtext);
    font-size: 0.9em;
    padding: 8px 10px;

    .heart {
        color: var(--red);
        filter: opacity(70%);
        font-size: 12pt;
    }
}
